@model MembersVM
@if (User.Identity!.IsAuthenticated)
{
    <p>
        Member <strong>@User.Identity!.Name</strong>!
    </p>
    <p> Count: <strong>@Model.ClocksItems.Length</strong></p>
    <ol>
        @foreach (var item in Model.ClocksItems)
        {
            <form asp-controller="Clocks" asp-action="Delete" asp-route-id="@item.Id">
            <li><a asp-controller="Clocks" asp-action="Details" asp-route-id="@item.Id">@item.Brand</a></li>
            <input type="submit" value="Delete" />  
            </form>
        }
    </ol>
    
    <a asp-controller="Account" asp-action="Logout">Sign out</a>

}
else
{
    <p>Du är inte inloggad...</p>
}
