@model IndexVM
@{
    ViewBag.Title = "Klockor";
}
<h2>Companies</h2>
Count: <strong>@Model.ClocksItems.Length</strong>
<ol>
    @foreach (var item in Model.ClocksItems)
    {
        @*  <a asp-controller="Clocks" asp-action="Delete" asp-route-id="@item.Id"><li>@item.Brand</li></a> *@
        <form asp-controller="Clocks" asp-action="Delete" asp-route-id="@item.Id">
            <li>@item.Brand</li>
            @if (User.IsInRole("Administrator")){
                <input type="submit" value="Delete" />
            }
        </form>
    }

</ol>
@if (User.Identity!.IsAuthenticated)
{
    <p>
        Welcome <strong>@User.Identity!.Name</strong>!
    </p>
    <a asp-controller="Clocks" asp-action="Create">create</a>
}