@model IndexVM
@{
    ViewBag.Title = "Klockor";
}
<h2>Companies</h2>
Count: <strong>@Model.ClocksItems.Length</strong>
<ol>
    @foreach (var item in Model.ClocksItems)
    {
        @*  <a asp-controller="Clocks" asp-action="Delete" asp-route-id="@item.Id"><li>@item.Brand</li></a> *@
        <form asp-controller="Clocks" asp-action="Delete" asp-route-id="@item.Id">
        <li>
            <a asp-controller="Clocks" asp-action="Details" asp-route-id="@item.Id">@item.Brand</a>             @if (User.IsInRole("Administrator"))
                {
                <input type="submit" value="Delete" />
                }
        </li>

        </form>
    }

</ol>
@if (User.Identity!.IsAuthenticated)
{
    <a asp-controller="Clocks" asp-action="Create">Add Watch</a>
}